<div class="container p-3">
    <div class="row pb-2 ">
        <div class="col">
            <button class="btn btn-primary" (click)="open()"> Add new</button>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Age Restriction</th>
            <th scope="col">Company</th>
            <th scope="col">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.products">
            <th scope="row">{{item.product_Id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.ageRestriction}}</td>
            <td>{{item.company}}</td>
            <td>{{item.price | currency}}</td>
            <td>
              <button (click)="updateProduct(item.product_Id)" class="btn btn-primary mr-1">Update</button>
              <button (click)="deleteProduct(item.product_Id)" class="btn btn-danger mr-1">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
